
@{
    ViewBag.Title = "Index";
}

<h2>Individual Table</h2>
<div>
    <h4>@ViewData["StudentFullName"]</h4>
    <table>
        @foreach (var item in ViewData["Subjects"] as ICollection<StudentMonitoringSystem.Models.Subject>)
        {

            <tr>
                <th>@item.Name</th>
                @foreach (var point in item.Points as ICollection<StudentMonitoringSystem.Models.MarkPoint>)
                {
                <th>@point.Name</th>
                }
            </tr>
            <tr>
            <th></th>
            @foreach (var mark in ViewData["Marks"] as ICollection<StudentMonitoreingSystem.Models.Mark>)
            {
            <td>@mark.Value</td>
            }
            </tr>

        }
    </table>
</div>

